<h2>Enter your confirmation code.</h2>

<%= form_tag([resource_name, :confirm_phone_number], :method => :post) do %>
  <%= text_field_tag :code %>
  <%= submit_tag "Submit" %>
<% end %>

<%= link_to "Send a new code", :action => "new" %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
